@media screen {

  /* GENERAL */
  * {
    margin: 0;
    padding: 0;
  }

  body, a {
    font: 300 100%/1.5 'Helvetica Neue', sans-serif; 
    color: #787878;
  }

  h2 {
    font-family: "Roboto Slab", serif;
  }

  h2 span a{
    text-decoration: none;
    font-size: .50em;
  }

  h2 span a:hover {
    text-decoration: underline;
  }

  h2, p {
    margin: 0 0 40px 0;
  }

  section, header {
    max-width: 1800px;
    margin: 0 auto;
  }

  

  /* CLASSES */
  .content {
    padding: 40px 0;
  }
  .parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }

  .parallax .text h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 10em;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .content .text h2 {
     font-size: 2em;
  }

  .content .text p{
    font-size: 1.5em;
    margin: 0 0 40px 0;
  }

  .text {
    max-width: 960px;
    margin: 0 auto;
  }

  .parallax-1 {
    background-image: url("../../example2-images/1.jpg");
  }
  .parallax-2 {
    background-image: url("../../example2-images/2.jpg");
  }
  .parallax-3 {
    background-image: url("../../example2-images/3.jpg");
  }

  /* HEADER */
  header.content {
    padding: 5px 0
  }

  /* NAV */
  nav ul {
    list-style: none;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 2em;
    margin: 0 10px 0 0;
    text-transform: uppercase;
  }


}

/*@media screen and (min-width: 600px) {
  .text h2 {
    font-size: 250%;
  }
  .text p {
    font-size: 1.2em;
  }
  .parallax .text h1 {
    font-size: 3em;
  }
}
@media screen and (min-width: 960px) {
  .parallax .text h1 {
    font-size: 10em;
  }
}*/

