/* GENERAL */
* {margin: 0; padding: 0;}
body {font: 100%/1.5 sans-serif;}

/* CLASSES */
.parallax {height: 50vh; background-attachment: fixed; background-position: top center; background-size: cover;}

/* OTHER OPTIONS FOR HEIGHTS OF DIVS */
.vh100 {height: 100vh;}
.vh20 {height: 20vh;}

.flexcontainer {display: flex;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.justify {justify-content: space-between;}

.img1 {background-image : url(../images/image1.jpg);}
.img2 {background-image : url(../images/image2.jpg);}
.img3 {background-image : url(../images/image3.jpg);}
.trans {opacity: 0;}

/* ARTICLE */
article, footer nav{margin: 40px auto; width: 800px;}
article h1 {font-size: 3em;}
article p, footer ul li a {font-size: 1.2em;}

/* FOOTER */
footer {background: rgb(223, 240, 230);}
footer nav {margin: 40px auto 0;}/* OVERRIDES THE ARICLE FOOTER GROUP */
footer ul li {list-style: none; margin: 10px;}
footer ul li a {color: #000; text-decoration: none;}

